body { 
    background-image: url("code.jpeg");
    height: 100%; 
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.mainDiv {
    border: 1px dotted grey;
    margin: 100px;
    color: grey;
    text-align: center;
}

.eachQuestion {
    border: 1px dotted grey;
}