body { 
    background-image: url("code.jpeg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.mainDiv {
    border: 1px dotted grey;
    margin-top: 80px;
    color: grey;
    text-align: center;
    padding: 20px;
    background-color:white;
}

.btn {
    border-radius: 0;
  }

.question {
    padding: 2px;
}

h4 {
    text-align: left;
}